In [1]:
import pandas as pd 
import numpy as np

In [15]:
y = np.arange(0,20,1)
y

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [16]:
z = list(map(lambda x: x+2, y))
z

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [21]:
list(filter(lambda x:x%3==0,y))

[0, 3, 6, 9, 12, 15, 18]

In [93]:
d = 'https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv'

euro_12 = pd.read_csv(d,index_col='Team')

In [94]:
euro_12.head()

,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
Team,,,,,,,,,,,,,,,,,,,,,
Croatia,4,13,12,51.9%,16.0%,32,0,0,0,2,...,13,81.3%,41,62,2,9,0,9,9,16
Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
Denmark,4,10,10,50.0%,20.0%,27,1,0,0,3,...,10,66.7%,25,38,8,4,0,7,7,15
England,5,11,18,50.0%,17.2%,40,0,0,0,3,...,22,88.1%,43,45,6,5,0,11,11,16
France,3,22,24,37.9%,6.5%,65,1,0,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [33]:
#select goal column 
euro_12['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [34]:
#number of teams that played in Euro 12 
euro_12['Team'].count()

16

In [41]:
#number of columns in the data set 

euro_12.shape[1]

35

In [43]:
#Discipline DF 

discipline =euro_12[['Team','Yellow Cards','Red Cards']]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [46]:
#Sort by Red Cards then Yellow Cards 
discipline.sort_values(['Red Cards','Yellow Cards'],ascending = False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

In [48]:
#Yellow Card Mean 
discipline['Yellow Cards'].mean()

7.4375

In [102]:
#Teams that scored more than 6 goals 

greater_six_goals = euro_12[euro_12["Goals"]>6]
greater_six_goals

,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
Team,,,,,,,,,,,,,,,,,,,,,
Germany,10,32,32,47.8%,15.6%,80,2,1,0,2,...,10,62.6%,63,49,12,4,0,15,15,17
Spain,12,42,33,55.9%,16.0%,100,0,1,0,2,...,15,93.8%,102,83,19,11,0,17,17,18

In [115]:
x = list(map(lambda name: name[0].upper()=='G',list(euro_12.index)))
euro_12.loc[x]

,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
Team,,,,,,,,,,,,,,,,,,,,,
Germany,10,32,32,47.8%,15.6%,80,2,1,0,2,...,10,62.6%,63,49,12,4,0,15,15,17
Greece,5,8,18,30.7%,19.2%,32,1,1,1,0,...,13,65.1%,67,48,12,9,1,12,12,20

In [101]:
seven = list(euro_12.columns[0:-3])

euro_12[seven]

,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
Team,,,,,,,,,,,,,,,,,,,,,
Croatia,4,13,12,51.9%,16.0%,32,0,0,0,2,...,0,10,3,13,81.3%,41,62,2,9,0
Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
Denmark,4,10,10,50.0%,20.0%,27,1,0,0,3,...,1,10,5,10,66.7%,25,38,8,4,0
England,5,11,18,50.0%,17.2%,40,0,0,0,3,...,2,29,3,22,88.1%,43,45,6,5,0
France,3,22,24,37.9%,6.5%,65,1,0,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
Germany,10,32,32,47.8%,15.6%,80,2,1,0,2,...,1,11,6,10,62.6%,63,49,12,4,0
Greece,5,8,18,30.7%,19.2%,32,1,1,1,0,...,1,23,7,13,65.1%,67,48,12,9,1
Italy,6,34,45,43.0%,7.5%,110,2,0,0,2,...,2,18,7,20,74.1%,101,89,16,16,0
Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
Poland,2,15,23,39.4%,5.2%,48,0,0,0,1,...,0,8,3,6,66.7%,48,56,3,7,1
Portugal,6,22,42,34.3%,9.3%,82,6,0,0,2,...,2,11,4,10,71.5%,73,90,10,12,0
Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,1,...,0,23,9,17,65.4%,43,51,11,6,1
Russia,5,9,31,22.5%,12.5%,59,2,0,0,1,...,0,8,3,10,77.0%,34,43,4,6,0
Spain,12,42,33,55.9%,16.0%,100,0,1,0,2,...,5,8,1,15,93.8%,102,83,19,11,0
Sweden,5,17,19,47.2%,13.8%,39,3,0,0,1,...,1,12,5,8,61.6%,35,51,7,7,0
Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,2,...,0,4,4,13,76.5%,48,31,4,5,0

In [100]:
#Filtering Multiple Data Rows and Bringing back select columns 
euro_12[['Goals','Shooting Accuracy']].loc[['England', 'Italy', 'Russia']]

         Goals Shooting Accuracy
Team
England      5             50.0%
Italy        6             43.0%
Russia       5             22.5%